@mixin button($bg, $color, $border-color, $radius, $pd, $bg-hover, $color-hover) {
    background-color: $bg;
    color: $color;
    font-size: $fs-2;
    border: 2px solid $border-color;
    border-radius: $radius;
    cursor: pointer;
    padding: $pd;
    &:hover{
        background-color: $bg-hover;
        color: $color-hover;
    }
}